body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #efefef;
    margin: auto;
}
nav {
    background-color: #e3e3e3;
    outline: 1px solid #333;
}
.button-nav {
    display: inline-block;
    background-color: #333;
    width: 120px;
    text-align:center;
    padding: 20px;
}
.button-nav a {
    color: white;
    text-decoration: none;
}
.button-nav a:hover {
    color: white;
    text-decoration: underline;
}

/* Left side content styles */
.left-col {
    float: left;
    width: 29%;
}
.name {
    border-bottom: 1px solid #333;
    text-align: center;
    padding: 20px 20px 0px 20px;
}
.name p {
        padding: 10px;
        color: #5e5e5e;
}
.stats h2 {
    margin-left: 20px;
    padding: 20px;
    color: #333;
}
.stats {
    padding-bottom: 100px;
}
.stat-items li {
    list-style: none;
    line-height: 50px;
    color: #5e5e5e;
}
/* Right side content styles */
.right-col {
    float:left;
    width: 70%;
    border: 1px solid #333;
    border-right: none;
    border-bottom: none;
}
.intro {
    margin: 60px;
    padding-bottom: 40px;
}
.intro p {
    line-height: 1.5em;
}
.intro-img {
    float: left;
    padding-right: 40px;
    padding-bottom: 10px;
}
.pet-pics {
    clear: left;
    text-align: center;
    margin: 60px;
}
.pet-pics img {
    padding: 20px 20px 20px 0;
}
.pet-pics .last {
    padding-right: 0px;
}