/* Navigation styles */
.logo {
    background: white;
    height: 230px;
    background-image: url("img/jakes-logo.png");
    background-repeat: no-repeat;
    background-position: center;
}

/* Column styles */

/* Footer Styles */
